.blog-space {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-block: 5rem;
  /* background: linear-gradient(black, rgb(58, 2, 2)); */
  background: #ab36fe;
  border-radius: 30px;
  padding-block: 2rem;
}
.box-text {
  color: white;
}
.naslov {
  color: white;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
  margin-block: 2rem;
}
.naslovna-slika {
  width: 60%;
}
.naslovna-slika img {
  width: 100%;
  border-radius: 30px;
}
.article-content h3 {
  width: 80%;
  text-align: center;
}
.tekst {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  width: 100%;
}
.article-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.article-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4rem;
}
.article-content p {
  margin-block: 2rem;
  font-size: 1.5rem;
  text-align: start;
}
.article-navigation {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.article-navigation .fa-solid {
  font-size: 3rem;
  color: white;
}
.article-navigation .fa-solid:hover {
  cursor: pointer;
}
@media (max-width: 850px) {
  .blog-space {
    width: 100%;
    border: none;
  }
  .naslov {
    width: 80%;
    font-size: 1rem;
    margin-block: 2rem;
  }
  .box-text {
    color: black;
  }
  .naslovna-slika {
    width: 90%;
  }
  .naslovna-slika img {
    border-radius: 0;
  }
  .article-info {
    width: 80%;
  }
  .article-info span {
    display: none;
  }
  .article-content {
    width: 100%;
  }
  .article-content p {
    font-size: 1.2rem;
    margin-block: 1rem;
    text-align: start;
  }
}

.blue-box {
  color: white;
}

/* EVENTS */

.box-text span {
  font-weight: 600;
}
.box-text li {
  margin-left: 40px;
}
